@tailwind base;
@tailwind components;
@tailwind utilities;

.ellipsis {
  width: 98%;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ellipsis-line1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
